<!doctype html>
<html>
<head>
<meta charset="urg-8" />
<title>Mall</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
<style>
body {
	padding-top:60px;
}

html {
	position: relative;
	min-height: 100%;
}
body {
	margin-bottom: 60px
}

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 60px;
	background-color: #f5f5f5;
}
</style>
</head>
<body>

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Mall Home</a>
        </div>
        <ul class = 'nav navbar-nav navbar-right'>
        <li><a href = '/blog/new'>New Shop</a>
  		{% if user.is_authenticated %}
        <li><a href="{% url "accounts:logout" %}?next={{ request.path }}">Logout</a></li>
        {% else %}
        <li><a href="{% url "accounts:login" %}?next={{ request.path }}">Login</a></li>
        <li><a href="{% url "accounts:signup" %}">Sign up</a></li>
        {% endif %}

    </div>
</div>

{% block content %}

{% endblock content %}

<div class="footer">
    <div class="container">
        <p class="text-muted">copyright by JoonhyukSong</p>
    </div>
</div>

</body>
</html>

