{% extends 'mall/base.html' %}

{% block content %}
<h2>Categories</h2>
<div class = 'container jumbotron'>

<ul>
  {% for category in category_list %}
<li>
	<a href = "{% url 'mall:category_detail' category.pk %}">
   		{{ category.id }}
		{{ category.title }}
	</a>
</li>
  {% endfor %}
</ul>
</div>

<h2>Shops</h2>
<div class = 'container jumbotron'>

<ul>
  {% for shop in shop_list %}
<li>
    {{ shop.title }}
</li>
  {% endfor %}
</ul>
</div>

<h2>Reviews</h2>
<div class = 'container jumbotron'>

<ul>
  {% for review in review_list %}
<li>
    {{ review.content }}
</li>
  {% endfor %}
</ul>
</div>
{% endblock content %}